name: Deploy API to Cloudflare Workers

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    uses: finki-hub/.github/.github/workflows/cloudflare-workers.yaml@main
    with:
      working-directory: api
    secrets: inherit
